<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>307897668289-1vtm6scg9pfd1t56pil4g6e73c3tfs7k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.307897668289-1vtm6scg9pfd1t56pil4g6e73c3tfs7k</string>
	<key>API_KEY</key>
	<string>AIzaSyBwCWdp7uxtQ3HHOSOpzRfUO2OFc_69TPk</string>
	<key>GCM_SENDER_ID</key>
	<string>307897668289</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sideworkWeb</string>
	<key>PROJECT_ID</key>
	<string>sidework-839c2</string>
	<key>STORAGE_BUCKET</key>
	<string>sidework-839c2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:307897668289:ios:a70359ceaa23f83845ba40</string>
</dict>
</plist>